langchain_core
langchain_openai
langchain_community
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
pypdf
chromadb
faiss-cpu
groq
beautifulsoup4
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
streamlit
langchain-groq
dotenv
langchain_huggingface
boto3
awscli
langchain-chroma
pysqlite3-binary